[user]
    name = Guido Cioni
    email = guido.cioni@mpimet.mpg.de
[core]
    editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[alias]
    hist = log --pretty=tformat:'%h %ai | %s%d [%an]' --graph --date=short
